:root {
    --shadow: #ddd;
    --bg: #fefefe;
    --fg: #444;
    --bg2: #aaa;
    --bg-alt: #fefefe;
    --info: #fee684;
    --link: #027eab;
    --text: #2f374f;
    --header-text: #2f374f;
}

html, body {
    padding: 0;
    margin: 0;
}

blockquote {
    font-style: italic;
}

body {
    font: 16px/1.5 "Inter", sans-serif;
    color: var(--text);
    background: var(--bg-alt);
    margin: 0;
}

code {
    box-shadow: inset 0 0 5.5em 0 var(--bg-alt);
    font: 0.875em/1.2em "JetBrains Mono", "Roboto Mono", monospace;
    padding: 0 0.25em;
    border-radius: 4px;
}

pre code {
    display: block;
    max-width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 0.5em;
}

img {
    max-width: 100%;
}

nav input {
    max-width: 10vw;
}

input[type='submit'], button {
    cursor: pointer;
}

main {
    margin: 0 auto;
    max-width: 75ch;
    border: 0 solid var(--shadow);
    border-left-width: 1px;
    padding: 0 0 1vw 0;

    a {
        color: var(--link);
    }

    small a {
        margin-right: 1em;
    }

    > ul {
        margin: 0;
        padding: 0;

        > li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}

nav {
    background: #fee684ff;
    color: var(--fg);
    margin: 0;
    padding: 0 5%;
    border-bottom: 1px solid var(--shadow);

    &.pagination {
        margin: 0 auto;
        text-align: center;
    }
}

nav ul, nav li {
    display: inline;
    margin: 0;
    padding: 0;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: var(--fg);
    line-height: 1.5rem;
    padding: 1em 1vw;
}

.feed,
nav a[href$="feed"] {
    margin: 0;
    background-size: 1.25rem !important;
    display: inline-block;
    user-select: none;
    color: transparent !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: transparent;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+DQo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPiANCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIxMjhweCIgaGVpZ2h0PSIxMjhweCIgaWQ9IlJTU2ljb24iIHZpZXdCb3g9IjAgMCAyNTYgMjU2Ij4NCjxkZWZzPg0KPGxpbmVhckdyYWRpZW50IHgxPSIwLjA4NSIgeTE9IjAuMDg1IiB4Mj0iMC45MTUiIHkyPSIwLjkxNSIgaWQ9IlJTU2ciPg0KPHN0b3AgIG9mZnNldD0iMC4wIiBzdG9wLWNvbG9yPSIjRTM3MDJEIi8+PHN0b3AgIG9mZnNldD0iMC4xMDcxIiBzdG9wLWNvbG9yPSIjRUE3RDMxIi8+DQo8c3RvcCAgb2Zmc2V0PSIwLjM1MDMiIHN0b3AtY29sb3I9IiNGNjk1MzciLz48c3RvcCAgb2Zmc2V0PSIwLjUiIHN0b3AtY29sb3I9IiNGQjlFM0EiLz4NCjxzdG9wICBvZmZzZXQ9IjAuNzAxNiIgc3RvcC1jb2xvcj0iI0VBN0MzMSIvPjxzdG9wICBvZmZzZXQ9IjAuODg2NiIgc3RvcC1jb2xvcj0iI0RFNjQyQiIvPg0KPHN0b3AgIG9mZnNldD0iMS4wIiBzdG9wLWNvbG9yPSIjRDk1QjI5Ii8+DQo8L2xpbmVhckdyYWRpZW50Pg0KPC9kZWZzPg0KPHJlY3Qgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiIHJ4PSI1NSIgcnk9IjU1IiB4PSIwIiAgeT0iMCIgIGZpbGw9IiNDQzVEMTUiLz4NCjxyZWN0IHdpZHRoPSIyNDYiIGhlaWdodD0iMjQ2IiByeD0iNTAiIHJ5PSI1MCIgeD0iNSIgIHk9IjUiICBmaWxsPSIjRjQ5QzUyIi8+DQo8cmVjdCB3aWR0aD0iMjM2IiBoZWlnaHQ9IjIzNiIgcng9IjQ3IiByeT0iNDciIHg9IjEwIiB5PSIxMCIgZmlsbD0idXJsKCNSU1NnKSIvPg0KPGNpcmNsZSBjeD0iNjgiIGN5PSIxODkiIHI9IjI0IiBmaWxsPSIjRkZGIi8+DQo8cGF0aCBkPSJNMTYwIDIxM2gtMzRhODIgODIgMCAwIDAgLTgyIC04MnYtMzRhMTE2IDExNiAwIDAgMSAxMTYgMTE2eiIgZmlsbD0iI0ZGRiIvPg0KPHBhdGggZD0iTTE4NCAyMTNBMTQwIDE0MCAwIDAgMCA0NCA3MyBWIDM4YTE3NSAxNzUgMCAwIDEgMTc1IDE3NXoiIGZpbGw9IiNGRkYiLz4NCjwvc3ZnPg0K") !important;
}

nav a:hover {
    background: white;
    color: black;
}

nav form {
    display: inline-block;
    margin: 0 0.5em;
    line-height: 1.9em;
}

nav ul {
    display: flow-root;
    max-width: 140ch;
}


nav li.right {
    float: right;
}

footer {
    text-align: center;
    border-top: 1px solid var(--shadow);
    line-height: 2rem;

}


form {
    margin: 2vw 0;
}


h1, h2, h3 {
    line-height: 1.25;
    margin: 1rem 0 1rem 0;
    font-weight: 600;
    color: var(--header-text);
}

h1 {
    margin: 0;
    padding: 3vw 1vw 0;
    font-weight: normal;
}

article {
    border-bottom: 1px solid var(--shadow);
    padding: 0 1vw 1vw 1vw;

    header {
        margin-top: 0;
        margin-left: -1vw;

        h2 {
            margin: .75rem 0;
        }

        .meta {
            font-size: 0.75em;
        }
    }

    p {
        margin-left: 0;
    }

}

article:last-of-type {
    border-bottom: none;
}

section:last-child {
    border: none;
}


small form {
    margin: auto;
    display: inline;
}

article footer {
    overflow: auto;
    border-top: 1px dotted var(--bg2);
    display: block;
    margin: 1em -2em 0;
    width: 100%;
    padding: 0 2em;
    line-height: 2rem;
    align-self: flex-end;

    a {
        margin-right: 1em;
    }
}


footer form {
    display: inline;
}

p {
    margin: 1rem 1vw;
}

section {

    &.entry-form {
        margin-left: -11rem;
        margin-bottom: -1vw;
        background: white;
        border-bottom: 1px solid var(--shadow);
    }
}

textarea {
    font: 12px/1.4em "DejaVu Sans Mono", monospace;
    width: 100%;
    max-width: 100%;
    min-height: 10em;
    display: block;
    margin: 1em 0;
    box-sizing: border-box;
}

.flash {
    margin: 1em 0;
    padding: 0.25em 0.5em;
    background: var(--info);
    border: 1px solid var(--bg);
    border-radius: 4px;
}

.pages {
    .current {
        font-weight: bold
    }
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

.status, .post {
    /* The h1 is the article title on post pages */

    article header h2 {
        display: none
    }
}


/* Desktop styles */
@media (min-width: 600px) {
    article header {
        position: relative;
        /* keep the border to avoid layout shift */
        border-top: 1px solid transparent;

        h2 {
            margin-left: 1vw;
            margin-top: 2rem;
        }
    }

    article .meta {
        top: 2.125rem;
        width: 9rem;
        position: absolute;
        margin-left: -10rem;
        text-align: right;

        a {
            display: block;
        }
    }

    .container {
        padding-left: 12rem;
    }


}
