includes:
    - phpstan-baseline.neon

parameters:
    level: 3
    parallel:
        maximumNumberOfProcesses: 1
    paths:
        - src
    excludePaths:
        - src/index.php
    bootstrapFiles:
        - vendor/autoload.php
        - phpstan-bootstrap.php
